# Environment files
.env

# Terraform files
.terraform/
*.tfstate
*.tfstate.backup

# macOS system files
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Editor files
*.swp
*.swo
*~
